*{
    margin: 0;
    padding: 0;
    background-color: rgb(133, 184, 123);
}
div.one{
    background-color: goldenrod;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0;
    padding: 0;
}
h1,h2{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 45px;
}
h1{
    color: rgb(104, 52, 67);
    background-color: goldenrod;
    

}
.image{

   height: auto;
   width: 1080px;
   display: block;
   margin:20px auto ;
   
}
div.two{
    background-color: rgb(133, 184, 123);
    margin: 0;
    padding: 0;
    height:200px;
    
}
.links{
    align-content: center;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-weight: 400;
    font-size:28px;
    margin: 10px 150px ;
    background-color: rgb(133, 184, 123);
   
    
}
a {
    display: block;
    text-decoration:none;
    background-color: rgb(133, 184, 123);
}
.footer,.footerdate{
   
    color: white;
    background-color: black;
    font-size: 28px;

}

.three{
    background-color: black;
}


